#about-title {
    font-family: Avenir;
    color: #6A4099;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}

#about-text {
    font-family: Avenir;
    color: #6A4099;
    font-size: 20px;
    margin-top: 5px;
}