
#footer-con {
    background-color: #B49FCC;
    height: 200px;
    width: 100%;
}

#footer-logo {
     margin-top: 15px;
      height: 46px;
}

.footer-text {
    font-family: Avenir;
    color: white;
    margin-top: 10px;
    font-size: 20px;
}