#social-con {
    background-color: #6A4099;
    margin-top: 15px;
}

.social-text {
    font-family: Avenir;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.social-text a {
    text-decoration: none;
    color: white;
}