.study-title-con {
    background-color: #6A4099;
}

.study-title {
    font-family: Avenir;
    color: white;
    text-align: center;
}

.study-title a {
    text-decoration: none;
    color: white;
}

.study-p-con {
    font-family: Avenir;
    color: #6A4099;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.study-gallery-img {
    margin-top: 10px;
    margin-bottom: 5px;
}